<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="NodeJSConfigurationType" node-parameters="--trace-warnings --inspect --enable-source-maps" path-to-js-file="./dist/app.js" working-dir="$PROJECT_DIR$">
    <EXTENSION ID="com.jetbrains.nodejs.run.NodeStartBrowserRunConfigurationExtension">
      <browser url="http://localhost:3000/" />
    </EXTENSION>
    <method v="2" />
  </configuration>
</component>